###############
# Directories #
###############
.nuget
.vs

wwwroot/**/*.js
wwwroot/**/*.css

**/wwwroot/**/js/lib/*.js
**/wwwroot/**/js/*.js
**/wwwroot/**/js/**/*.js
**/wwwroot/**/Sprites/Svg/symbol/svg/*.svg
**/wwwroot/**/css/*.css

**/wwwroot/**/fonts/shared/**
**/wwwroot/bundle
**/node_modules
**/obj
**/bin
**/Debug
**/Content/logs

###################
# compiled source #
###################
*.user
*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo
.idea/
